<template>
  <div>
    <display></display>
  </div>
</template>

<script>
import Display from '@/components/Display.vue'

export default {
  name: 'Home',
  components: {
    Display
  }
}
</script>

<style>
.icon-vuejs path:nth-child(1) {
  @apply text-green-400;
}
.icon-vuejs path:nth-child(2) {
  @apply text-green-900;
}
</style>
