<template>
  <span :class="`icon-${name}`" class="svg-icon">
    <component
      :is="`icon-${name}`"
      :width="size ? size : width"
      :height="size ? size : height"
      :class="svgClass"
      class="fill-current"
    >
    </component>
  </span>
</template>

<script>
export default {
  name: 'Icon',
  props: {
    name: {
      type: String,
      required: true,
      default: 'git'
    },
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    size: {
      type: [Number, String],
      default: null
    },
    svgClass: {
      type: String,
      default: ''
    }
  }
}
</script>
